{% extends "layout.html" %}

{% block content %}
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <main class="hero-section">
    <div class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert-container">
              <p class="alert-message">{{message}}</p>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith%}
      <div class="section-content">
        <h2>Discover aesthetics.</h2>
        <p style="padding-top: 10px; padding-bottom: 10px; font-size: 16px; color: #0086b3; font-weight: 300">Have your images scored by ConnoiXer the A.I. critic, starting by uploading your image here: </p>
        <form class="btn-primary" method=POST enctype=multipart/form-data action="{{ url_for('upload') }}" class="btn-primary">
            <input type="file" id="uploadfile" name=photo class="inputfile" onchange="checkInput()">
            <label class="uploadlabel" for="uploadfile">
              <img src="{{ url_for('static', filename='img/logo/uploadlogo.png') }}" style="width:30px;height:30px;float:left;position:relative;"><p>Upload Image</p></label>
            <div id="submitarea" style="visibility: hidden;">
            <input type="submit" id="submitfile" class="inputfile">
            <label class="submitlabel" for="submitfile"><img src="{{ url_for('static', filename='img/logo/checkmark.png') }}" style="width:24px;height:24px;position:relative;"><p>Submit</p></label>
            </div> 
        </form>
        <a href="{{ url_for('about') }}" class="btn-secondary"><p>Learn more</p></a> 
        <p style="margin-top: 60px; font-size: 14px;color: #0086b3; font-weight: 300">Note1: After upload your image, it might take a few minutes for the server to respond. Please <strong>WAIT</strong> patiently and <strong>REFRAIN</strong> from refreshing the page or returning to previous page.</p>
        <p style="font-size: 14px;color: #0086b3; font-weight: 300; margin-bottom: 60px;">Note2: If server return an error page after you uploading your image, you can wait a few second, open up the ConnoiXer in a new page and submit again.</p>
      </div>

      <div class="section-image">
        <img src="{{ url_for('static', filename='img/logo/connoixerLogo.png') }}">
      </div>
      
      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}